<div class="container">
    <div class="block-one">
        <div class="img__block">
            <img src="/img/photo_2022-03-16_15-41-55.jpg" alt="">
        </div>
    </div>
    <div class="last-block">
        <div class="text">
            <h1><strong>Main heading</strong></h1>
            <p class="text__p">Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>
            <p>Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании модели развития. Таким образом реализация намеченных плановых заданий способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. </p>
        </div>
    </div>
    <!-- <div class="wrapper_btn">
        <button routerLink="/books/first-page">1</button>
        <button  routerLink="/books/second-page">2</button>
        <button class="btn-active" routerLink="/books/third-page">3</button>
        <button routerLink="/books/fourth-page">4</button>
        <button routerLink="/books/fifth-page">5</button>
    </div> -->
</div>
