.wrapper_btn{
    width: 843px;
	margin: 0 auto 24px;
}
.pagination{
    text-align: center;
}
button{
    margin: 0 4px;
    cursor: pointer;
}
button:active {
    background-color: #8F07CF;
    color: white;
}

.active {
    background-color: #8F07CF;
    color: white;
}

.notactive {
    background-color: #9007cf00;
    box-shadow: none;
    color: black;
}