
<div class="wrapper_btn">
    <div class="pagination">
		<button mat-mini-fab routerLink="/books/title-1" [class]="onActive(1)"> 1 </button>
		<button mat-mini-fab routerLink="/books/title-2" [class]="onActive(2)"> 2 </button>
		<button mat-mini-fab routerLink="/books/title-3" [class]="onActive(3)"> 3 </button>
		<button mat-mini-fab routerLink="/books/title-4" [class]="onActive(4)"> 4 </button>
		<button mat-mini-fab routerLink="/books/title-5" [class]="onActive(5)"> 5 </button>
	</div>
</div>
