.wrapper_btn{
    width: 843px;
	margin: 0 auto 24px;
}
.pagination{
    text-align: center;
}
button{
    margin: 0 4px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    color: black;
    background: #F2F2F2;
    cursor: pointer;
}
button:focus {
    background-color: #8F07CF;
    color: white;
}

