.container{
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
	box-sizing: border-box;
	max-width: 700px;
	margin: 20px auto 0;
	border: 0.5px solid #efefef}

table{
	box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
	margin: 20px auto;
	/* border: 1px solid red; */
	width: 100%;
}
.cdk-cell {
	cursor: pointer;
}

.cdk-row:hover {
	background: #0330fa;
	color: white;
}

.cdk-row:active {
	background: #a0a0a0;
	border-left: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0; 
}
.mat-column-id {
	text-align: right;
	padding-right: 5px;
}

.mat-column-title {
	border-left: 1px solid #5c5c5c; 
	border-right: 1px solid #5c5c5c; 
	padding: 0 5px;
}

.mat-column-qtyRelease {
	padding-left: 5px;
}
.example-element-description {
	margin: 10px 15px;
}
.card-class {
	max-width: 1000px;
	margin: 0 15px;
	line-height: 1.5rem;
}

.cdk-row:hover{
	background: #081ff3;
	color: white;
	cursor: pointer;
}

.cdk-row:active {
	background: #3440e4;
	border-left: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0; 
}
.mat-column-id {
	text-align: center;
	padding: 0 auto;
}
.example-element-detail {
	overflow: hidden;
	display: flex;
}
tr.example-detail-row {
	height: 0;
}
.chart{
	border-radius: 20px;
	background: #0330fa;
	color: white;
}