<div class="container">
  <table mat-table
  [dataSource]="table" multiTemplateDataRows
  class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <div *ngIf="column == 'id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
        </div>  
        <div *ngIf="column == 'title">
          <td mat-cell *matCellDef="let element"> НАЗВАНИЕ </td>
        </div>  
        <div *ngIf="column == 'qtyRelease'">
          <td mat-footer-cell *matFooterCellDef> ТИРАЖ (шт)</td>
        </div>

        <td mat-cell *matCellDef="let elem">{{elem[column]}}</td>

        <div *ngIf="column == 'id'">
          <td mat-footer-cell *matFooterCellDef> ИТОГО ПРОДАЖ </td>
        </div>
        <div *ngIf="column == 'title'">
          <td mat-footer-cell *matFooterCellDef></td>
        </div>
        <div *ngIf="column == 'qtyRelease'">
          <td mat-footer-cell *matFooterCellDef> {{total}}</td>
        </div>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div class="example-element-description">
                    {{element.description}}
                  </div>
                </div>
                </td>
      </ng-container> 

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>