<div class="container">
    <div class="block-one">
        <div class="img__block">
            <!-- <img src="/img/photo_2022-03-16_15-41-55.jpg" alt=""> -->
        </div>
        <div class="text">
            <h1><strong>Main heading</strong></h1>
            <p class="text__p">Идейные соображения высшего порядка, а также сложившаяся структура<br> организации позволяет оценить значение новых предложений. Равным<br> образом рамки и место обучения кадров представляет собой интересный<br> эксперимент проверки существенных финансовых и административных<br> условий. </p>
            <p>Таким образом укрепление и развитие структуры способствует подготовки<br> и реализации направлений прогрессивного развития.</p>
        </div>
    </div>
    <div class="last-block">
        <h2>Secondary heading</h2>
        <p class="text__p">
            Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности<br> влечет за собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и место<br> обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации.
        </p>
        <p>Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании модели развития. Таким образом реализация намеченных плановых заданий способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. </p>
    </div>
    <!-- <div class="wrapper_btn">
        <button class="btn-active">1</button>
        <button routerLink="/books/second-page">2</button>
        <button routerLink="/books/third-page">3</button>
        <button routerLink="/books/fourth-page">4</button>
        <button routerLink="/books/fifth-page">5</button>
    </div> -->

</div>
